@import './styles/variables.module.css';

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  line-height: 1.6;
}

h1, h2, h3 {
  color: var(--color-primary);
  text-transform: uppercase;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
*, *::before, *::after {
  box-sizing: border-box;
}